.headerbox
    h1 Forum
    p
        if username
            i Logged in as #{username}
            form(method="POST" action="/logout" class="logout-form")
                input(type="submit" value="logout")
        else
            i Not logged in
        
    nav
        ul
            li
                a(href="/") Home
            li
                a(href="/post") Create Post
            li
                a(href="/register") Register
            li
                a(href="/login") Login
            if loggedin
                li
                    - let profilelink = `/profile`
                    a(href=profilelink) Profile