html
    head
        include includes/head.pug
    body
        include includes/header.pug
        form(method="POST" action="/post" enctype="multipart/form-data")
            input(required name="title" type="text" placeholder="title")
            br
            textarea(required name="body" placeholder="text...")
            br
            input(name="file" type="file")
            br
            input(type="submit" value="Submit")