html
    head
        include includes/head.pug
    body
        include includes/header.pug

        p=message
        a(href=redirectto id="redirect") Ok

        script(src="/message.js")

        include includes/foot.pug