html
    head
        include includes/head.pug
    body
        include includes/header.pug
        h2=fpost.title
        - let userbox = {username: fpost.author.username, avatar: fpost.author.avatar, id: fpost.author.id}
        include includes/userbox.pug
        hr
        p
            pre.postcontents=fpost.body
        p
            if(fpost.attachment)
                - let alink = `/files/${fpost.attachment}`
                a(href=alink) attachment