html
    head
        include includes/head.pug
    body
        include includes/header.pug
        h2=fpost.title
        - let userbox = {username: fpost.author.username, avatar: fpost.author.avatar, id: fpost.author.id}
        include includes/userbox.pug
        hr
        p
            pre.postcontents=fpost.body
        p
            if(fpost.attachment)
                - let alink = `/files/${fpost.attachment}`
                - let a = {file: alink, mime: fpost.amime}
                include includes/attachment.pug
        hr
        h4 Comments
        p
        - let commentformid = fpost.id
        include includes/commentform.pug
        br
        for comment in fpost.comments
            - let cc = comment
            include includes/comment.pug
        br
        include includes/commentform.pug