html
    head
        include includes/head.pug
    body
        include includes/header.pug
        form(method="POST" action="/profile" enctype="multipart/form-data")
            textarea(name="bio")=profile.bio
            br
            input(name="email" type="text" width="80" placeholder="email" value=profile.email)
            br
            label(for="file") Avatar: 
            input(name="file" type="file" accept="image/png,image/bmp,image/gif,image/jpeg,image/webp")
            br
            input(type="submit" value="Submit")
        
        include includes/foot.pug