html
    head
        include includes/head.pug
    body
        include includes/header.pug
        if msg
            p(class="servermsg")=msg
        form(method="POST" action="/register")
            input(required name="username" type="text" placeholder="Username")
            br
            input(required name="password" type="password" placeholder="Password")
            br
            input(required name="confpass" type="password" placeholder="Confirm Password")
            br

            include includes/captcha.pug

            input(type="submit" value="Submit")