html
    head
        include includes/head.pug
    body
        include includes/header.pug

        h2=fuser.username

        - let imagelink = "/ico/defaultuser.png"
        if fuser.avatar
            - imagelink = `/files/${fuser.avatar}`
        img(src=imagelink class="avatar" width="128" height="128")
        
        h3 About
        p
            pre=fuser.about
        
        include includes/foot.pug