* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256px;
    padding: 8px 24px 24px 24px;
}

.hidden {
    display: none !important;
}

.servermsg {
    color: red;
}

.header h1 {
    font-size: 24px;
    text-align: left;
}

nav ul {
    list-style-type: none;
    background-color: lightgrey;
    border: 0px;
    padding: 16px;
}

nav ul li {
    display: inline;
    border-right: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    text-decoration: none;
    color: #111;
}

nav li.selected {
    color: #606060;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logout-form {
    float: right;
    text-align: right;
}

.logout-form input {
    height: 30px
}

.section {
    border: 1px solid black;
    min-height: 64px;
    padding-left: 24px;
    padding-right: 24px;
}

.postbox * {
    padding-left: 4px;
}

.postbox h4 {
    margin-bottom: 0;
}

.postpreview {
    font-size: 12px;
}

.postcomments {
    font-size: 12px;
}

.postcontents {
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: pre-wrap;
}

.postauthor {
    font-size: 12px;
}

.userboxavatarbox {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
}